#AWS
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_REGION=AWS_REGION

PORT=PORT

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME 
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY 
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

#JWT
JWT_SECRET=JWT_SECRET

#Pusher
PUSHER_APP_ID=PUSHER_APP_ID
PUSHER_KEY=PUSHER_KEY
PUSHER_SECRET=PUSHER_SECRET
PUSHER_CLUSTER=PUSHER_CLUSTER
PUSHER_USE_TLS=PUSHER_USE_TLS